<div class="container mt-5 welcome">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-2 mb-3" data-controller="welcome">

          <div class="card" data-action="mouseover->welcome#open mouseout->welcome#close">
              <div class="img-holder">
                <img src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" class="card-img-top" alt="<%= movie['original_title'] %>">
                <a href="<%= movie_show_path(movie['id']) %>" class="btn btn-outline-warning link" id="button-<%= movie['id'] %>" data-welcome-target="link", style="display: none">Show</a>
              </div>
                <div class="card-body">
                  <p class="card-text text-center text-white"><strong><%= movie['original_title'] %></strong></p>
                </div>
          </div>
      </div>
    <% end %>
  </div>
</div>