<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container text-white">
    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
        <div class="card">
          <%= image_tag('movie_register.jpg', class: 'card-img-top')%>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="mb-3 mt-5">
          <h2 class="text-white">Sign In</h2>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: 'form-label' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="mb-3">
          <%= f.submit "Sign In", class: 'btn btn-warning' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

