<div class="container movie-show mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500<%= @movie['poster_path'] %>" class="card-img-top" alt="<%= @movie['original_title'] %>">
      </div>
    </div>

    <div class="col-6 text-white">
      <h1><%= @movie['original_title'] %></h1>
      <p><%= @movie['overview'] %></p>
      <p>Language: <b><%= @movie['original_language'].upcase %></b></p>
      <p>Category: <b><%= @movie['genres'].map {|genre| genre['name']}.join(', ') %></b></p>
      <p>Vote Average: <b><%= @movie['vote_average'] %></b></p>
      <% if user_signed_in? %>
        <div data-controller="favoriteUserMovie">
            <button
                    data-favoriteUserMovie-target="movie"
                    data-action="click->favoriteUserMovie#check"
                    data-movie-id="<%= @movie['id'] %>">
            </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :js do %>
  <script>
    let favorite_movie_url = "<%= movie_favorite_check_path %>"
    let user_movie_present_url = "<%= is_user_movie_present_path(@movie['id']) %>"
  </script>
<% end %>