<div class="container movie-show mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500<%= @movie['poster_path'] %>" class="card-img-top" alt="<%= @movie['original_title'] %>">
      </div>
    </div>

    <div class="col-6 text-white">
      <h1><%= @movie['original_title'] %></h1>
      <p><%= @movie['overview'] %></p>
      <p>Language: <b><%= @movie['original_language'].upcase %></b></p>
      <p>Category: <b><%= @movie['genres'].map {|genre| genre['name']}.join(', ') %></b></p>
      <p>Vote Average: <b><%= @movie['vote_average'] %></b></p>
    </div>
  </div>
</div>
